<footer class=" footer">
  <div class=" container-fluid">
    <ul class=" nav">
      <li class=" nav-item">
        <a class=" nav-link" href="https://anderson0312.github.io/MyPortifolio/#home">
          AndersonNST
        </a>
      </li>
      <li class=" nav-item">
        <a class=" nav-link" href="https://anderson0312.github.io/MyPortifolio/#home">
          About Us
        </a>
      </li>
      <li class=" nav-item">
        <a class=" nav-link" href="https://anderson0312.github.io/MyPortifolio/#home"> Blog </a>
      </li>
    </ul>
    <div class=" copyright">
      &copy; {{ test | date: "yyyy" }} made with
      <i class=" tim-icons icon-heart-2"> </i> by
      <a href="https://anderson0312.github.io/MyPortifolio/#home" target="_blank"> Creative Tim / AndersonNST </a>
      for a better web.
    </div>
  </div>
</footer>
